html{
    background-color: grey;
    width: 100%;
    align-items: center;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 6em;
    color: rgb(228, 228, 228);
    margin: 2rem;
    font-weight: bold;
}

.Rock{
    background-color: rgb(177, 152, 152);
}
.Paper{
    background-color: azure;
}
.Scissors{
    background-color: rgb(73, 132, 162);
}
button{
    width: 400px;
    padding: 20px;
    margin: 1rem;
    background-color: rgb(110, 191, 114);
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 5px 5px #5a5a5a;
    font-size: 5em;
}
button:hover{
    background-color: rgba(72, 72, 72, 0.48);
}
.gameDiv{
    display: flex;
    align-items: center;
}
.box{
    margin: 2px;
    padding: 2px;
    font-size: 3em;
    width: 11em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.computer, .player{
    border-bottom: 2px solid rgb(0, 0, 0);
    flex: 1;
    margin: 0 0 0.3em 0 ;
    color: rgb(0, 0, 0);
    padding: 5%;
    border-radius: 30%;
    box-shadow: 2px 2px #5a5a5a;
}
.computer{
    background-color: rgba(243, 0, 0, 0.645);
}
.player{
    background-color: rgba(52, 215, 79, 0.631);
}
.smallBox{
    background-color: rgb(209, 209, 209);
    padding: 20px;
    margin: 0.3em;
    border-radius: 5%;
}
.winnerDiv{
    text-align: center;
}
.winnerDiv .smallBox{
    width: 9em;
    line-height: 1.3em;
    background-color: rgb(223, 128, 44);
    font-weight: bold;
}
.restart{
    font-size: 1em;
    margin: 0.2em;
}
.start{
    margin-top: 2em;
    border-radius: 45%;
    width: 7em;
    height: 2em;
}
.winner{
    margin-bottom: 0;
}
