*{
    font-family:'Courier New', Courier, monospace;
}
html{
    background-color: rgb(187, 187, 187);
    align-items: center;
    height: 100vh;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.btn{
    flex-wrap: wrap;
    flex: 1;
    display: flex;
}
.title{
    display: none;
    flex: 1;
    text-align: center;
    width: 80vw;
    font-size: 5em;
    color: rgb(90, 90, 90);
    margin: 1rem;
    font-weight: bold;
}

.valueDiv{
    display: flex;
    flex-wrap: wrap;

}
.Rock{
    background-color: rgb(177, 152, 152);
}
.Paper{
    background-color: azure;
}
.Scissors{
    background-color: rgb(73, 132, 162);
}
.Rock, .Paper, .Scissors{
    flex: 1;
}
button{
    width: auto;
    padding: 0.3em;
    margin: 0.2em;
    background-color: rgb(47, 178, 174);
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 5px 5px #5a5a5a;
    font-size: 4em;
    flex: 1;
}

#pointSelect{
    width: 50px;
}
.selectPoints {
    width: auto;
    font-size: 2em;
    
}
.selectDiv{
    width: max-content;
    margin: auto;
   
}

.pointDiv{
    display: none;
     margin-top: 50px;
}
.gameDiv{
    display: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2em;
    width: 80vw;
}
.box{
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.computer, .player{
    border-bottom: 2px solid rgb(0, 0, 0);
    flex: 1;
    margin: 1vh;
    color: rgb(0, 0, 0);
    padding: 0.3em;
    border-radius: 50px;
    box-shadow: 2px 2px #5a5a5a;
    width: 5em;
    text-align: center;
}
.computer{
    background-color: rgba(243, 0, 0, 0.645);
}
.player{
    background-color: rgba(52, 215, 79, 0.631);
}
.winnerDiv{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 20vw;
    margin: 1vw 3vw;
}
.smallBox{
    font-weight: bold;
    background-color: rgb(227, 227, 227);
    color: rgb(83, 83, 83);
    padding: 0.5em;
    margin: 0.3em;
    border-radius: 10px;
    text-align: center;
    
}
.winnerDiv .smallBox{
    line-height: 1.3em;
    background-color: rgb(84, 81, 78);
    color: rgba(245, 245, 245, 0.823);
    font-weight: bold;
    flex: 1;
    padding: 0.5em;
}
.restart{
    display: none;
    font-size: 1em;
    margin: 1.5em;
    flex: 1 1 20vw;
}
.start{
    margin-top: 2em;
    border-radius: 40px;
    height: 1.7em;
    padding: 0.3em 1.2em;
    cursor: pointer;
}
.howToPlay{
    border-radius: 40px;
    font-size: 3em;
    background: #4d76c9;
    cursor: pointer;
}

.winner, .winnerScore{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
}

.notif {
    display: flex;
    flex-direction: column;
    margin: auto;
}

select {
    padding: 8px 1px;
    border-radius: 10px;
    font-weight: bold;
}

.ruleDiv {
    display: none;
    position:absolute;
    bottom:0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 950px){
    .computerDiv, .playerDiv{
        order: 1;
    }
    .winnerDiv{
        order: 2;
    }
    .winner, .winnerScore{
        order: -1;
    }
}


@media only screen and (max-width: 880px){
    .start{
        padding: 0.3em 2.1em;
    }
    .howToPlay{
        font-size: 2em;
    }
    .title{
        font-size: 2.5em;
    }
    button{
        font-size: 3em;
    }
    
  }
@media only screen and (max-width: 600px){
    .start{
        padding: 0.3em 2.1em;
    }
    .howToPlay{
        font-size: 2em;
    }
    .ruleDiv{
        flex-direction: column;
        position:relative;
    }

    .title{
        font-size: 2.5em;
    }
    button{
        font-size: 2em;
    }
    .gameDiv{
        font-size: 1.2em;
    }
    .box{
        margin: 2vh 0;
    }
    .smallBox{
        margin: 0.2vh 0;
        width: 42vw;
    }
    .computerDiv, .playerDiv{
        order: 1;
    }
    .winnerDiv{
        margin: 0;
        order: 2;
        flex: 1 0 90vw;
    }
    .winner, .winnerScore{
        order: -1;
        margin: 0 1vw;
    }
    .restart{
        flex: 1 0 80vw;
        margin: 2vh 5vw;
    }
    
  }
  @media (hover: hover) and (pointer: fine) {
    button:hover { 
        background-color: rgba(72, 72, 72, 0.48);
    }
  }
